
body{
    margin: 0px;
}
.video{
    width: 100%;
    height: 570px;
    padding: 0px;
    position: relative;
}
video{
    height: 570px;
    width: 100%;
    object-fit: fill;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 200px;
}
.bai{
    width: 100%;
    height: 226px;
    position: relative;
    top: -200px;
    left: 0px;
    background-color: white;
    z-index: 111;
    margin: 0 auto;

}
.p1{
    width: 300px;
    z-index:9 ;
    color: white;
    font-size: 60px;
    position:absolute;
    top: 50%;
    left: 38%;
    right: 62%;
    opacity: 0;
}
.p11{
    width: 100%;
    height: 470px;
    position: absolute;
    top: -100px;
    background: rgba(0,0,1,0.4);
}
.p2{
    width: 600px;
    color: #898989;
    margin: 0 auto;
}
.p33{
    width: 550px;
    color: #898989;
    margin: 0 auto;
}
.p4{
    width: 500px;
    color: #898989;
    margin: 0 auto;
}
#zi{
    width: 600px;
    height: 100px;
   margin: 0 auto;
    padding: 100px;
}
.zong{
    min-width: auto;
}
.zong{
    width: 100%;
    height: 100%;
    background: #fff;
    -moz-box-shadow: 0 0 0 3px rgba(0,0,0,0.05);
    -webkit-box-shadow: 0 0 0 3px rgba(0,0,0,0.05);
    box-shadow: 0 0 0 3px rgba(0,0,0,0.05);
    margin: 0 auto;
    max-width: 2560px;
    min-width: 1024px;
    overflow: hidden;
    position: relative;
}
.img1{
    width: 1223px;
    height: 1710px;
    position: relative;
    top: -200px;
    margin: 0 auto;
}
.img11{
    width: 1101px;
    height: 560px;
    margin: 0 auto;
    transition: all 4s;
}
.ul{
    list-style-type: none;
    padding-left: 61px;
    padding-right: 61px;
    margin: 0px;
}
h4{
    margin-top: 0px;
}
img:hover{
    transform: scale(1.1);
}
#kuang1{
    width: 1101px;
    height: 560px;
    margin: 0 auto;
    overflow: hidden;
    opacity: 0;
}
.p22{
    display: inline-block;
    width: 100px;
    color: white;
    position: absolute;
    left: 40%;
    z-index: 999;
    padding: 40px;
}
.aa{
    width: 1101px;
    height: 600px;
    position: relative;
}
.img22{
    width: 545px;
    height: 559px;
    transition: all 4s;
}
.kuang2{
    width: 545px;
    height: 559px;
    overflow: hidden;
    position: relative;
}
#kuang2{
    width: 545px;
    position: relative;
    top: 20px;
    opacity: 0;
}
.span1 {
    position: absolute;
    top: 30px;
    left: 40%;
    z-index: 99;
    color: white;
}
#kuang3{
    float: right;
    position: relative;
    top: -539px;
    opacity: 0;
}
.span2{
    position: absolute;
    top: 30px;
    left: 40%;
    z-index: 99;
    color: white;
}
.span3{
    position: absolute;
    top: 30px;
    left: 40%;
    z-index: 99;
    color: white;
}
#kuang4{
    width: 545px;
    position: relative;
    top: 40px;
    opacity: 0;
}
#kuang5{
    float: right;
    position: relative;
    top: -519px;
    opacity: 0;
}
#imgA{
    width: 1223px;
    height: 1300px;
    position: relative;

    margin: 0 auto;
}
#kuang6{
    width: 545px;
    position: relative;
    top: -20px;
    opacity: 0;
}
.span4{
    color: white;
    position: absolute;
    top: 90px;
    left: 40%;
    z-index: 99;
}
#kuang7{
    float: right;
    position: relative;
    top: -579px;
    opacity: 0;
}
.span5{
    color: white;
    position: absolute;
    top: 46px;
    left: 40%;
    z-index: 99;
}
#kuang8{
    width: 545px;
    position: relative;
    opacity: 0;
}
.span6{
    position: absolute;
    top: 30px;
    left: 40%;
    color: white;
    z-index: 99;
}
#kuang9{
    float: right;
    position: relative;
    top: -559px;
    opacity: 0;
}
#kuang10{
    width: 545px;
    position: relative;
    opacity: 0;
}
.span7{
    position: absolute;
    top: 70px;
    left: 40%;
    color: white;
    z-index: 99;
}
#imgB{
    width: 1223px;
    height: 1300px;
    position: relative;
    margin: 0 auto;
}
#kuang11{
    float: right;
    position: relative;
    top: -559px;
    opacity: 0;
}
.span8{
    position: absolute;
    top: 26px;
    left: 40%;
    color: white;
    z-index: 99;
}
#kuang12{
    width: 545px;
    position: relative;
    top: 10px;
    opacity: 0;
}
#kuang13{
    float: right;
    position: relative;
    top: -549px;
    opacity: 0;
}
#fen{
width: 1123px;
    position: relative;
    top: -40px;
    left: 45%;
}
#aaA{
    display: inline-block;
    border: 1px green solid;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    width: 150px;
    height: 50px;
    border-radius: 50px;
    background-color: green;
    color: white;
}
#aaA:hover{
    background-color: white;
    color: green;
}
#aa1{
    position: relative;
    top: 140px;
    left: 200px;
}
.ul1{
    list-style-type: none;
}
.li1{
    height: 23px;
}
.a2{
    color: #BDBDBD;
    text-decoration: none;
    font-size: 14px;
}
.p3{
    width: 275px;
    display: inline-block;
    border-bottom: 1px #333333 solid;
    position: relative;
    left: 40px;
    color: #BDBDBD;
    font-size: 10px;
    margin: 0px;
}
.a3{
    color: #BDBDBD;
    text-decoration: none;
    font-size: 14px;
    position: absolute;
    top: 45px;
    left: 40px;
}
/*劳力士世界*/
#aa2 {
    position: relative;
    top: 160px;
    left: 200px;
}
/*服务*/
#aa3{
    position: relative;
    top: 220px;
    left: 200px;
}
.ul2{
    list-style-type: none;
}
.li2{
    height: 23px;
}
.a4{
    color: #BDBDBD;
    text-decoration: none;
    font-size: 14px;
}
/*腕表系列*/
#aa4{
    position: relative;
    top: -260px;
    left: 500px;
}
.ul3{
    list-style-type: none;
}
.li3{
    height: 23px;
}
.a5{
    color: #BDBDBD;
    text-decoration: none;
    font-size: 14px;
}
/*社交媒体频道*/
#aa5{
    position: relative;
    top: -655px;
    left: 800px;
}
.ul4{
    list-style-type: none;
}
.li4{
    height: 23px;
}
.a6{
    color: #BDBDBD;
    text-decoration: none;
    font-size: 14px;
}
#aa{
    color: #757575;
    font-size: 14px;
}
/*媒体*/
#aa6{
    position: relative;
    top: -468px;
    left: 800px;
}
.ul5{
    list-style-type: none;
}
.li5{
    height: 23px;
    width: 100px;
    margin: 0px;
}
.a7{
    color: #BDBDBD;
    text-decoration: none;
    font-size: 14px;
}
.ss{
    width: 1000px;
    height: 800px;
    border: 1px red solid;
    position: absolute;
    left: 100px;
}
#div5{
    width: 1223px;
    height: 800px;
    position: relative;
    margin: 0 auto;
    background-color: black;
}
#hei{
    width: 100%;
    background-color: black;
}